@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllReservations</title>
</head>
<body>
<div>
   @if (Model.GetNonUsedReservations().Count == 0)
   {
       <div>You do not have any unfinnished reservations currently</div>
   }
    @foreach (var res in Model.GetNonUsedReservations())
    {
        @Html.ActionLink(@res.ToString(), "StartWash", new {id = res.id}); <br/>
    }

    @Html.ActionLink("Back", "UserPage", new { userid = Model.name })

</div>
</body>
</html>
