@model UserLaundry.LaundryUser

@{
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/StyleSheet1.css">

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PickDate</title>
</head>
<body>
<div>
    @using (Html.BeginForm(new { userid = Model.name }))
    {
        <table>
            <tr>
                <td>@Html.Label("Date:")</td>
                <td>
                    @Html.TextBox("date")
                </td>
            </tr>
        </table>

        <input type="submit" value="Date picked" />    <div id ="Error">@Html.ValidationMessage("DateError")</div>
    }
</div>
</body>
</html>
