@model UserLaundry.Models.Wrapper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservation</title>
</head>
<body>
<div>
    @foreach (var machine in @Model.Machines)
    {
        @Html.ActionLink(@machine.machineType, "Reserved",
            new {resid = Model.LaundryUser.Reservations.LastOrDefault().id, machineid = machine.id}) <br/>
    }

    @Html.ActionLink("Go to reservations", "AllReservations", new{userid = Model.LaundryUser.name})
</div>
</body>
</html>
