@model UserLaundry.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartWash</title>
</head>
<body>
<div>
    @foreach (var m in Model.GetNonStartedMachines())
    {
        @m.machineType
        foreach (var program in m.MachinePrograms)
        {
                @Html.ActionLink(program.ToString(), "Start", new { id = Model.id, programid = program.id }) <br />
        }
    }
</div>
</body>
</html>
